// ========== zoom control css ==============
  
.controls {
      position: absolute;
      top: 17px;
      right: 2%;
      z-index: 100;
      display: flex;
	/* flex-direction: column; */
	gap: 5px;
	flex-direction: column-reverse;
    }

    .controls button {
      padding: 6px;


      cursor: pointer;
    }
  /* Responsive adjustments */
    @media (max-width: 768px) {
      #ikr_toltipMove {
        font-size: 14px;
        max-width: 200px;
        padding: 8px;
      }

      #ikr_toltipMove p {
        font-size: 13px;
        line-height: 20px;
      }

      .controls button {
        padding: 4px 4px;
        cursor: pointer;
      }

 .controls {
	bottom: 11px;
	left: auto;
	top: auto;
	right: 3%;
	display: flex;
	/* flex-direction: column; */
	gap: 5px;
	flex-direction: column-reverse;
}
    }

  @media (max-width: 480px) {
      #ikr_toltipMove {
        font-size: 13px;
        max-width: 160px;
        padding: 6px;
      }

      #ikr_toltipMove p {
        font-size: 12px;
        line-height: 18px;
      }
.controls {
	bottom: 11px;
	left: auto;
	top: auto;
	right: 3%;
	display: flex;
	/* flex-direction: column; */
	gap: 5px;
	flex-direction: column-reverse;
}
      
      .controls button {
        padding: 4px 4px;
        cursor: pointer;
      }
    }
      .ikr_map5 {
        position: relative;
        background-color: #fff;
  // width: 100%;
  // height: 100vh;      /* or whatever height you want */
  //  overflow: hidden; 
  
    }
    #ikr_svg{
        
  display: block;
  width: 40%;        /* SVG scales with container width */
  height: auto;
  // transform-origin: 0 0;   /* important for our math */
  will-change: auto;
  image-rendering: optimizeQuality;
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  margin: 0 auto;
    }

  // #ikr_svg {
  // display: block;
  // width: 40%;            /* SVG scales with container width */
  // height: auto;
  /* 👇 we KNOW we'll transform, so tell the browser early */
//   will-change: transform;

//   /* 👇 ensure there is NO easing when transform changes */
//   transition: none !important;
// // transform-origin: 0 0; 
//   // image-rendering: optimizeQuality;
//   // shape-rendering: geometricPrecision;
//   // text-rendering: geometricPrecision;
//   margin: 0 auto;
// }



 

/* The raster image inside the SVG */
#ikr_svg image {
  /* Prefer quality in Chromium */
  image-rendering: -webkit-optimize-contrast;
  /* Fallbacks for other engines */
  image-rendering: crisp-edges;
  image-rendering: optimizeQuality;
}
.ikr_svg_container {
  width: 70%;
  // height: 600px;         /* or whatever you want */
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
// ========== zoom control css ==============